
//padding
  :root {
    --padding-xxs: 10px;
    --padding-xs: 20px;
    --padding-sm: 30px;
    --padding-md: 40px;
    --padding-lg: 50px;
    --padding-xl: 60px;
    --padding-xxl: 80px;
    --padding-wide: 100px;
  }
  