:root {
    --vert-foret-profond: #225733;
    --terre-de-sienne: #A0522D;
    --orange-vibrant: #FF8C00;
    --blanc-casse: #F8F0E3;
    --gris-anthracite: #36454F;
    --gris-clair: #D3D3D3;
    // --bleu-ciel-doux: #87CEEB;
}

// box shadow
:root {
    --shadow-box: rgba(1, 1, 1, 1) 10px 15px 15px;
}
