:root {
    --link-color: #000;
    --link-hover-color: red;
}

a {
    color: var(--link-color);

    &:hover {
        color: var(--link-hover-color);
    }

    &:visited {

    }

    &:focus {

    }
}