.container-univers {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    margin: 0 auto;
   }
   .univers {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    gap: 20px;
  
   
  
  
  
    &_item {
      min-width: 100px;
      margin-left: 20px;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        background: var(--color-lightgrey);
        border-radius: var(--border-radius-lg);
        border: solid 1px;
        box-shadow: var(--shadow-box);
        margin-bottom: 20px;
        margin-top: 10px;
        img {
         width: 40px;
         height: 40px;
      
        }
      }
    }
  }
