.header{
    background:linear-gradient(#deeb2b,#94d12b);
    height: 80px;
    border-bottom: solid 2px;
}
.icon{
    display: flex;
   flex-direction: row; 
   justify-content: end;
   margin-top: -30px;
   gap: 10px;
   padding-right: 30px;
    
    .icon-profil img {
        max-width : 20px;
    }
    .icon-groupe img{
        max-width: 20px;
    }
}
.nom-du-site{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: x-large;
    font-weight: bold;
   margin-top: -50px;
}