.header{
    background-color: #b0dd63;
    height: 80px;
    border-bottom: solid 2px;
}
.icon{
    display: flex;
    justify-content: end;
    margin-top: -60px;
    margin-right: 10px;
}
.icon-profil{
    margin-right: 20px;
}
.nom-du-site{
    display: flex;
    justify-content: center;
    margin-top: -70px;
    margin-left: -50px;
}