    footer{
        width: 100%;
        background:linear-gradient(#deeb2b,#94d12b); 
        border-radius: var(--border-radius-lg);
        border-top: solid 2px;
    }
    
    .logo-footer{
         display: flex;
        justify-content: center;
    }
    .info-footer{
        margin: var( --margin-sm);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .a-propos{
        line-height: 30px;
        h2{
            font-size:20px;
            font-weight: bold;
        }
        a{
            text-decoration: none;
        }
    }
    .informations{
        line-height: 30px;
        h2{
            font-size:20px;
            font-weight: bold;
        }
        a{
            text-decoration: none;
        }
    }
    
 
       
   
    

