:root {
    --vert-foret-profond: #225733;
    --terre-de-sienne: #A0522D;
    --orange-vibrant: #FF8C00;
    --blanc-casse: #F8F0E3;
    --gris-anthracite: #36454F;
    --gris-clair: #D3D3D3;
    --blanc-blanc: #ffffff;
    --border-radius-sm: 5px;
    --border-radius-lg: 15px;
    --shadow-box: rgba(1, 1, 1, 1) 10px 15px 15px;
    --margin-general:0px 20px 0px 20px;
    --margin-top:20px;
    --margin-xxs:5px;
    --margin-xs:10px;
    --margin-sm:15px;
    --margin-md:25px;
    --margin-ld:30;
    --padding-xxs: 10px;
    --padding-xs: 20px;
    --padding-sm: 30px;
    --padding-md: 40px;
    --padding-lg: 50px;
    --padding-xl: 60px;
    --padding-xxl: 80px;
    --padding-wide: 100px;
    --font-size:large;
  --font-h2:xx-large;
  --color-lightgrey: #f0f0f0;
}