
:root {
    --vert-foret-profond: #225733;
    --terre-de-sienne: #A0522D;
    --orange-vibrant: #FF8C00;
    --blanc-casse: #F8F0E3;
    --gris-anthracite: #36454F;
    --gris-clair: #D3D3D3;
    --bleu-ciel-doux: #87CEEB;
}

body {
    font-family: sans-serif;
    background-color: var(--blanc-casse);
    color: var(--gris-anthracite);
    line-height: 1.6;
    width: 100%;
}

 .hero {
    background-image: url("/images/randochien.jpg");
    background-size: cover;
    background-position: center;
    color: var(--blanc-casse);
    text-align: center;
    min-height: 1300px; 
    display: flex;
    align-items: center;
         @media (max-width: 468px){
    height: 400px;
    width: 100%;
    padding: 10px;
  } 
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    color:var(--blanc-casse);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.search-bar {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     @media (max-width: 468px){
   width: 90%;
  } 
}

.search-bar input[type="search"] {
    flex-grow: 1;
    padding: 12px 15px;
    border: none;
    font-size: 1em;
}

.search-bar button {
    background-color: var(--orange-vibrant);
    color: var(--blanc-casse);
    height: 50px;
    border-radius: var(--border-radius-lg);
    border: none;
    margin: 0px 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color:var(--orange-vibrant);
}

.container-univers {
    padding: 40px 20px;
    background-color: var(--blanc-casse);
    text-align: center;
    overflow: hidden;
}

.univers h2 {
    font-size: 2.5em;
    color: var(--vert-foret-profond);
    margin-bottom: 30px;
}

.univers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: var(--blanc-casse);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.grid-overflow {
    display: flex; 
    justify-content: center;
    overflow-x: auto; 
    gap: 40px;
    height: 200px;
    @media (max-width: 468px){
    height:180px ;
    gap: 20px;
    justify-content: flex-start;
} 
}
.grid-overflow a{
    text-decoration: none;
}
.univers-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    min-width: 300px;
    padding: var( --padding-xs);
    justify-items: center; 
           @media (max-width: 468px){
   padding: 0px;
   min-width: 180px;
   
  } 
}


.univers-item h3 {
    color: var(--terre-de-sienne);
    margin-top: -30px;
    font-size: 1.2em;
}

.univers-item p {
    font-size: 0.9em;
    color: var(--gris-anthracite);
}


.univers-item:hover {
    transform: translateY(-5px);
}

.univers-item img {
    height: 80px;
margin-bottom: 20px;

}



.featured-randonnees {
    padding: 40px 20px;
    background-color: var(--gris-clair);
    text-align: center;
}

.featured-randonnees h2 {
    font-size: 2.5em;
    color: var(--vert-foret-profond);
    margin-bottom: 30px;
}

.randonnees-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.randonnees {
    background-color: var(--blanc-casse);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.randonnees:hover {
    transform: translateY(-5px);
}

.randonnees a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.randonnees .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.randonnees .titre-rando {
    padding: 15px;
    color: var(--terre-de-sienne);
    font-weight: bold;

}

.randonnees .lieu-rando {
    font-size: x-large;
    font-weight: bold;
    color: var(--gris-anthracite);
}

.randonnees .info-rando {
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: x-large;
    color: var(--gris-anthracite);
}

.randonnees .info-rando .maps-info a img#maps {
    height: 100px;
    width: 100px;
}
#apropos{
    text-align: center;
    padding: 20px;
}

 