.connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--margin-md);
}
.form-group{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--margin-md);
}
input{
    border-radius: var( --border-radius-lg);
    height: 50px;
    margin-bottom: 30px;
    width: 350px;
            @media (max-width: 468px){
    width: 250px;
  } 
}
.btn{
    border-radius:var(--border-radius-lg) ;
    margin: var(--margin-md);
}