.randonnees {
  background:linear-gradient(#deeb2b,#94d12b);
  display: flex;
  justify-content: center;
  border-radius: 10%;
  margin: 10px 10px 30px 10px;
  text-decoration: none;
  box-shadow: var(--shadow-box);
  a{
    text-decoration: none;
  }

}
.rando {
  border-radius: 10px;
  overflow: hidden;

}
.titre-rando {
 text-align: start;
 font-size:  var(--font-h2) ;
 margin-top: -20px;
 padding-left: 30px;
}
.picture {
  display: flex;
  overflow-x: auto;
  gap: 35px;
  margin: 20px;
}
.picture img {
  max-height: 200px;
  min-width: 350px;
  border-radius: 10px;
  box-shadow: var(--shadow-box);
  // border: solid 1px;
  margin-bottom: 10px;
}
.picture .one {
  margin-left: 10px;
}

.lieu-rando {
  display: flex;
  justify-content: start;
  font-size:  var(--font-h3) ;
  padding-left: 30px;
}
.info-rando {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: start;
  margin-top: -20px;
  padding-left: 30px;
}

#maps {
  display: flex;
  justify-content: end;
  width: 80px;
  height: 70px;
  margin-top: -10px;
  border-radius:var(--border-radius-sm);
  box-shadow: var(--shadow-box);
  margin-bottom: 20px;
}
