
.images{
display: flex;
overflow-x: auto;

}
.relief{
    border-radius: var(--border-radius-lg);
    box-shadow: var(  --shadow-box);
}


.images img{
    min-width: 430px;
    max-height: 300px;
    position: relative;
}
.info-rando-complete{
    position: absolute;
    left: 0%;
    top: 100%;
    transform: translate(0%,-20%);
    padding: 50px;
 
    border-radius: 50px;
    margin: -30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: var(--font-size);
}
 .titre-rando{
    
    font-weight: bold;
 }
 .info{
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px #85A947;

    h2{
        font-size: var(--font-h2);
        padding-bottom: 20px;
    }
}   
.indication{
        display: flex;
       flex-direction: row;
       justify-content: space-around;
        span{
            font-weight: bold;
        }
       
}
.description{
    margin-top: 15%;
    padding-top: 10%;
    border-top: solid 1px #85A947;
    display: flex;
    flex-direction: column;

    h2{
        font-size: var(--font-h2);
        padding-bottom: 20px;   
    }
}
.button-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button{
   
    padding: 20px;
    border-radius: var(--border-radius-lg) ;
    background:linear-gradient(#deeb2b,#94d12b);
    text-decoration: none;
    margin: 20px;
    box-shadow: var(  --shadow-box);
}
.maps-rando{
    border-bottom: solid 1px #85A947;
    padding-bottom: 10%;
    
    img{
        width: 100%;
        border-radius:var(--border-radius-lg);
        box-shadow: var(  --shadow-box);
    }
}
.meteo{
    border-radius: var(--border-radius-lg);
    box-shadow: var(  --shadow-box);
    margin-top: 10%;
    padding-top: 20px;
    h2{
        font-size: var(--font-h2);
        padding-bottom: 20px;   
    }
}
.jour{
   display:flex;
   flex-direction: row;
   gap: 40px;
   font-weight: bold;
}
.indications{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.gif-meteo{
    margin-top: 10%;
    margin-bottom: 10%;
}
.taille {
    height: 50px;

    img{
height: 100%;
object-fit: fill;
}
}
.indications-plus{
   display: flex;
   h3{
    font-weight: bold;
    font-size: var(--font-size);
   }
}
.indications-plus-info{
   justify-items: center;
p{
   text-align: center;
}
  }
  .avis{
    margin-top: 15%;
    padding-top: 10%;
    border-top: solid 1px #85A947;
    h2{
        font-size: var(--font-h2);
    }
  }
  .text-avis{
    border-radius: var(--border-radius-lg);
    background:linear-gradient(#deeb2b,#94d12b);
    margin-top: 10%;
    padding: 10%;
    box-shadow: var(--shadow-box);
    .avis-utilisateur{
        margin: 5%;
        h2{
            font-size: var(--font-h2);
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
  }
.avis-utilisateur-note{
    font-size: var(--font-size);
}