.photo-profil{
    height: 100px;
    margin-top: var(--margin-top);
    display: flex;
    justify-content: center;
    gap: 40px;

    .img-profil{
        padding: var( --padding-xxs);
        border: solid 1px ;
        text-align: center;
        display: flex;
        align-items: center;
        border-radius:var(--border-radius-lg);
    }
}
