html {

}

:root {
    --font-size-base: 18px;
    --line-height-base: 1.5;

    @media (max-width: $media-phone) {
        --font-size-base: 15px;
    }
}
body {
    background-color:#ffffff;
    color:  var(--text-color);
    font-size:var(--font-size-base);
    line-height:var(--line-height-base);
}